@font-face {
    src: url("./fonts/NunitoSans-Regular.ttf");
    font-family: 'NunitoSans Regular';
}

@font-face {
    src: url("./fonts/YesevaOne-Regular.ttf");
    font-family: 'YesevaOne';
}

@font-face {
    src: url("./fonts/NunitoSans-Italic.ttf");
    font-family: 'NunitoSans';
}

.body {
    margin: 0;
    font-family: 'NunitoSans', Arial, Helvetica;
    
}

body * {
    box-sizing: border-box;
}

.container { 
max-width: 1250px;
margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: 'NunitoSans', Arial, Helvetica;
    font-style: Italic 
}

.logo {
    color: #E3B873;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.headr-navigation {
    list-style: none;
    display: flex;
}

.header-navigatin_item {
    margin-right: 47px;
}

.header-navigatin_item a {
    text-decoration: none;
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

p span {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873; 
}

.tele a {
    color: #E3B873; 
}

header .container{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

section .container {
    margin-top:194px;
    margin-left: 134px;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url("../rostov-hotel/images/img.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.text-hero {
    width: 678px; 
}

.title {
    margin: 0;
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.city-name {
    color:#E3B873;
}

.info {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.body-navigation{
    list-style: none;
    display: flex;
}

.body-navigation_item {
    margin: 0;
}

.body-navigation_item {
    display: inline;
    margin-right: 61px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1074px;
    background-color: black;
}
h2 {
    color:white;
}
/*@media screen and (max-width: 1300px){
    section .container {
    margin-top:57px;
    margin-left: 18px;
    margin-right: 18px;
    }*/
